<% provide(:title, "adidas Online Shop") %>
<%= render 'layouts/uspbar' %>
<br>
<div id="page_info_top">
<span data-context="plp_wallpaper:off"></span>
<div class="pageinfotop-wrapper">
<div id="breadcrumbs">
    <ul id="product-breadcrumb" class="breadcrumbs clearfix " data-component="product/ProductBreadCrumb" data-scope="breadcrumbs">
        <li class="back">
            <a href="#" id="product-back" title="Trở lại"  onclick="goBack()"><!--[if IE 7]><span class="breadcrumb-icon"></span><![endif]-->Trở lại</a>
        </li>
    <script>
function goBack() {
    window.history.back();
}
</script>
    <script>
function goBack() {
    window.history.back();
}
</script>
        
        
            <li class="home" data-context="home">
                
                <a href="/" itemprop="url" title="Trang chủ">Trang chủ</a>
            </li>
            
        
        
            <li data-context="search results">
                <span class="divider">/</span>Kết quả tìm kiếm của bạn cho: <a href="/search?q=<%= params[:q][:productname_cont] %>" title="<%= params[:q][:productname_cont] %>"><%= params[:q][:productname_cont] %>(<%= @products.count %>)</a>
            </li>
    </ul>
</div>
<br>
<div class="page-heading">
<div class="rbk-page-heading">
<div class="rbk-heading-wrapper clearfix">
<div class="search_results_switch_bar clearfix">
    <h3>
        <span class="rbk-search-title search-title">&nbsp;kết quả tìm kiếm cho </span>
        <span class="rbk-search-value search-value"><%= params[:q][:productname_cont] %></span>
        <span class="search-count">(<%= @products.count %> Sản Phẩm)</span>
    </h3>
</div>

</div>
</div>
</div>

</div>


</div>

<!-- ------------------------------------------------ -->


<main>

    <div class="pagination">
<div style="float:left; margin-left:0px">Sắp xếp theo: Tên sản phẩm [A-Z]</div>
<div style="float:left; margin-left:140px">Xem: 48</div>
  Trang: 
        
    </div>

    <!-- lặp lấy sản phẩm -->
    <% @products.each do |product| %>
          <% giaban = product.price %>
          <% giagoc = product.originalpride %>

    <div style="">
        <a href="/products/<%= product.id %>">   
            <div class="product">

              <div class="gl-product-card">
                <div class="gl-badge gl-badge--small gl-badge--urgent" style="<%=  giagoc ? '' : 'display: none' %> "> -
                    <% if giagoc %> 
                    <%= (100-giaban.fdiv(giagoc)*100).to_i %>
                    <% end %> %
                </div>
            </div>

            
            <img src="<%= url_for(product.avatar.variant(resize: "230x230")) %>" alt="adidas <%= product.productname.titleize %>" onmouseover="this.src='<%= url_for(product.hover.variant(resize: "230x230")) %>'" onmouseout="this.src='<%= url_for(product.avatar.variant(resize: "230x230")) %>'" title="adidas <%= product.productname.titleize %>" >
            <h3 style="border-bottom: 1px solid #c8cbcc;height: 3em;line-height: 1em;"><%= product.productname %></h3>

            <%= product.color.color_name %>
            <br>
            <h3>
                <span id="red" style=" <%=  giagoc ? 'color:red' : '' %>">

                    <%= "#{giaban*23000} ₫" %> 
                </span></span><strike>
                    <% if giagoc %> 
                    <%= giagoc =(giagoc*23000).to_i 
                    "#{giagoc} ₫"
                    %>
                    <% end %> 
                </strike>
            </span></h3>
        </div>      
    </a>    
</div> 

<% end %>

<div class="pagination">
<div style="float:left; margin-left:0px">Sắp xếp theo: Tên sản phẩm [A-Z]</div>
<div style="float:left; margin-left:140px">Xem: 48</div>
  Trang: 

</div>

</main>