<% provide(:title, "adidas All") %>
<%= render 'layouts/uspbar' %>
<br>
<div class="rbk-page-info-top-holder">
  <div class="pageinfotop-wrapper ">
    <div id="breadcrumbs">
      <ul id="product-breadcrumb" class="breadcrumbs clearfix " data-component="product/ProductBreadCrumb" data-scope="breadcrumbs">
        <li class="back"><%= link_to 'Trở lại', :back, id: "product-back", class: "icon-arrow-left-circle" %></li>   
        <li class="home" data-context="home">
            <span class="divider">|</span>
            <%= link_to 'Trang chủ', root_path %>
        </li>
        <!--GENDER AGE FRANCHISE BRAND SPORTS PRODUCTTYPE PARNER CATEGORY MIADIDAS-->
    </ul>
</div>

<br>
<div class="page-heading clearfix">
    <div class="rbk-page-heading">
        <div class="rbk-heading-wrapper">

            <h1>
                thuộc tính sản phẩm
            </h1>        
            <p class="count">           
                (<%= @products.total_count %> Sản Phẩm)      
            </p>
        </div>
    </div>
</div>

</div>
</div>





<div style="width: 218px;float:left; padding:10px; margin:50px 10px 10px 80px;position: absolute;background:#eceef0;">
<h3 style="border-bottom: 1px solid #c8cbcc;height: 3em;line-height: 1em;font-weight: bold;font-size: 16px;">LỰA CHỌN CỦA BẠN</h3>
<br>
<br>




<% params.each do |key, value| %>

<% vi_key = 'GIỚI TÍNH' if key =='subcategory' %>
<% vi_key = 'LỨA TUỔI' if key =='age' %>
<% vi_key = 'DÒNG' if key =='franchise' %>
<% vi_key = 'NHÃN HIỆU' if key =='brand' %>
<% vi_key = 'MÔN' if key =='sports' %>
<% vi_key = 'LOẠI SẢN PHẨM' if key =='producttype' %>
<% vi_key = 'ĐỐI TÁC' if key =='partner' %>
<% vi_key = 'DANH MỤC' if key =='category' %>
<% vi_key = 'MI ADIDAS' if key =='miadidas' %>
<% vi_key = 'GIẢM GIÁ' if key =='sale' %>
<% if value.present? and key != 'controller' and key != 'action' and key  != 'locale' %>
<div style="font-size: 13px;float:left">&nbsp;&nbsp;
    <span style="font-weight: bold;"><%= vi_key %></span>:&nbsp;<%= value %></div>
<br>
<br>
<% end %>
<% end %>


</div>

<main>

    <div class="pagination">
        <div style="float:left; margin-left:0px">Xem: 48 </div>
        <div style="float:left; margin-left:140px"><%= paginate @products %></div>
        Trang: <%=  @products.current_page %>
        
    </div>

    <!-- lặp lấy sản phẩm -->
    <% @products.each do |product| %>
          <% giaban = product.price %>
          <% giagoc = product.originalpride %>

    <div style="">
        <a href="/products/<%= product.id %>">   
            <div class="product">

              <div class="gl-product-card">
                <div class="gl-badge gl-badge--small gl-badge--urgent" style="<%=  giagoc ? '' : 'display: none' %> "> -
                    <% if giagoc %> 
                    <%= (100-giaban.fdiv(giagoc)*100).to_i %>
                    <% end %> %
                </div>
            </div>

            
            <img src="<%= url_for(product.avatar) %>" alt="adidas <%= product.productname.titleize %>" onmouseover="this.src='<%= url_for(product.images.second) %>'" onmouseout="this.src='<%= url_for(product.avatar) %>'" title="adidas <%= product.productname.titleize %>" >
            <h3 style="border-bottom: 1px solid #c8cbcc;height: 3em;line-height: 1em;"><%= product.productname %></h3>

            <%= product.color.color_name %>
            <br>
            <h3>
                <span id="red" style=" <%=  giagoc ? 'color:red' : '' %>">

                    <%= "#{giaban*23000} ₫" %> 
                </span></span><strike>
                    <% if giagoc %> 
                    <%= giagoc =(giagoc*23000).to_i 
                    "#{giagoc} ₫"
                    %>
                    <% end %> 
                </strike>
            </span></h3>
        </div>      
    </a>    
</div> 

<% end %>

<div class="pagination">
    <div style="float:left; margin-left:0px">Sắp xếp theo: Tên sản phẩm [A-Z]</div>
    <div style="float:left; margin-left:140px"><%= paginate @products %></div>
        <%= page_entries_info @products %>

</div>

</main>